body {
	background: #f9f9f9;
	font-family: 'Roboto Light', Arial, Helvetica, sans-serif;
	font-weight: 300;
	min-height: 100%;
	position: relative;
}

header {
	background: #f9f9f9;
	min-height: 50px;
	position: relative;
}

header .brand a {
	min-height: 24px;
}

header .brand img.logo {
	height: 48px;
}

header .brand h1 {
	margin: 0 0 0 5px;
	display: inline-block;
	line-height: 1;
}

header .brand h1 em {
	font-weight: 500;
	font-size: 17px;
	margin: 0;
	color: #222222;
	padding: 3px 0 0 0;
	font-style: normal;
	text-transform: uppercase;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 40px;
	overflow: hidden;
	color: #cbcbcb;
	background: #222222;
}

footer > .container, footer > .container-fluid {
	padding-right: 15px;
	padding-left: 15px;
}

footer > .container p, footer > .container-fluid p {
	line-height: 40px;
	margin-bottom: 0;
}

footer a, footer a:hover {
	color: #cbcbcb;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.boarder-bottom-blue {
	border-bottom: 2px solid #006596;
}

.padding-double {
	padding: 20px;
}

.white {
	color: #FFF;
}

.blue-bg {
	background-color: #3a9ecf !important;
}

.uppercase {
	text-transform: uppercase;
}

.boarder-all {
	border: 1px solid #d8d8d8;
	background: #FFF;
	margin-top: -10px;
}

.font-large {
	font-size: 16px;
}

.wr-input-control {
	margin-bottom: 20px;
}

.wr-login {
	padding-top: 50px;
	padding-bottom: 50px;
}

.wr-login input[type=text], .wr-login input[type=password], .wr-login input[type=email] {
	border: 1px #d2d2d2 solid;
	width: 100%;
	padding: 6px 10px;
	z-index: 1;
	-webkit-appearance: none;
	line-height: 30px;
	border-radius: 0px;
}

.wr-btn {
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	background: #333;
	padding: 10px 10px;
	display: inline-block;
	border: none;
}

.light-btn {
	font-weight: normal;
	font-size: 13px;
	color: #555;
	background: #eee;
	padding: 10px 10px;
	display: inline-block;
	text-align: center;
}

.light-btn:hover {
	text-decoration: none;
	color: #555;
	background: #d4d3d3;
}

button.grey-bg:hover {
	background-color: #3A9ECF;
}

.wr-btn:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #3A9ECF;
}

button.grey-bg {
	background-color: #222222;
}

button.font-extra-large {
	font-size: 20px;
}

img.idp-image {
	padding: 3px 2px;
}

.padding-left {
	padding-left: 10px;
}

.padding-right {
	padding-right: 10px;
}

.padding-top {
	padding-top: 10px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.padding {
	padding: 10px;
}

.padding-none {
	padding: 0px !important;
}

.padding-left-double {
	padding-left: 20px;
}

.padding-right-double {
	padding-right: 20px;
}

.padding-top-double {
	padding-top: 20px;
}

.padding-bottom-double {
	padding-bottom: 20px;
}

.padding-double {
	padding: 20px;
}

.margin-left {
	margin-left: 10px;
}

.margin-right {
	margin-right: 10px;
}

.margin-top {
	margin-top: 10px;
}

.margin-bottom {
	margin-bottom: 10px;
}

.margin {
	margin: 10px;
}

.margin-none {
	margin: 0px !important;
}

.margin-left-double {
	margin-left: 20px;
}

.margin-right-double {
	margin-right: 20px;
}

.margin-top-double {
	margin-top: 20px;
}

.margin-bottom-double {
	margin-bottom: 20px;
}

.margin-double {
	margin: 20px;
}

.font-small {
	font-size: 12px;
}

.font-medium {
	font-size: 16px;
}

.font-large {
	font-size: 1.3em;
}

.font-extra-large {
	font-size: 20px !important;
}

.error-alert {
	background-color: #FFE7E8;
}

.form-group.required .control-label:after {
	content: " *";
	color: red;
}

#consent-mgt-tree-container p span, #consent-mgt-template-container p span {
	margin-top: 4px;
	display: block;
}

#consent-mgt-tree-container #tree-table {
	background: #fff;
	padding: 10px;
	color: #333;
}

.border-top {
	border-top: 1px solid #d8d8d8;
}

.agreement-checkbox {
	margin: 0;
	padding: 10px;
	display: block;
	background: #d9edf7;
	border: 1px solid #bce8f1;
	border-radius: 4px;
}

.agreement-checkbox input {
	margin-right: 4px;
}

.wr-btn.disabled:hover, .wr-btn.disabled:active {
	background: #333;
}

.wr-btn.disabled, .wr-btn[disabled], fieldset[disabled] .wr-btn {
	cursor: not-allowed;
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
	filter: alpha(opacity=65);
}

.margin-bottom-half {
	margin-bottom: 5px;
}

span.required {
	color: red;
	vertical-align: middle;
}
span.required_consent{
	color: red;
	font-size: 16px;
	margin: 0px 4px;
}
strong span.required_consent{
	color: red;
	font-size: 16px;
	margin: 0px 0px 0px 4px;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 120ch;
}

.jstree-anchor {
	width: 95%;
	white-space : normal !important;
	height : auto !important;
	padding-right : 24px;
}
.alert-consent{
	background: none;
}

.consent-container-1 span label,.consent-container-2 span label{
	font-weight: normal;
	padding: 2px 6px;
	background: #dcdcdc7a;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.consent-container-3 {
	padding-left: 0;
	border-top: 1px solid #eee;
}
.consent-ul {
	padding-left: 12px!important;
	color: #3a9ecf;
}

.consent-ul li {
	list-style-type: square!important;
	font-size: 16px;
	padding-bottom: 10px;
}

.consent-ul li span{
	font-size: 14px;
	font-weight: 600;
	color: #6b6b6b
}

.consent-container-3 label{
	font-weight: normal;
	padding: 5px 10px;
	background: #dcdcdc7a;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 92%;
	margin: 4px 8px;
}
.consent-container-1 strong label,.consent-container-2 strong label{
	padding: 2px 6px;
	background: none;
	border: 1px solid #dcdcdc7a;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.consent-container-1 span label input,.consent-container-2 span label input, .consent-container-3 label input{
	margin-right: 5px;
}
.consent-container-1 div,.consent-container p{
	margin-bottom: 12px;
	line-height: 18px;
	text-align: justify;
}
.consent-container-2 .box{
	padding:15px;
	border: 2px solid #dcdcdc7a;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	min-height: 220px;
	text-align: justify;
}
.consent-container-2 .box ul{
	margin: 0;
	margin-top: 20px;
	padding: 0;
}
.consent-container-2 .box ul li{
	list-style: none;
}
.consent-section {
	padding: 11px 40px 20px 40px;
}
.consent-border {
	border: 1px solid #41c0f97a;
	border-radius: 4px;
}
#row-container .box{
	padding: 10px;
	margin-bottom: 4px;
}
#row-container .box p{
	display: list-item;
	margin: 0;
	margin-bottom: 4px;
	margin-left: 8px;
}
#row-container .box ul{
	margin: 0;
	padding: 0;
}
#row-container .box ul li{
	list-style: none;
}
#row-container .box table td{
	font-size: 13px;
	padding: 4px;
}
#row-container .box table td:first-child{
	width: 200px;
}
.border-consent{
	border: 1px solid #41c0f97a;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.remove-padding-left {
	padding-left: 0;
}
.remove-padding-right {
	padding-right: 0;
}
.full-width {
	width: 100%;
}
.consent-section {
	color: #6b6b6b;
}
.form-info {
	height: 12px;
}
.username-proceed button, .username-proceed a {
	padding: 10px 18px;
}
.username-proceed a {
	margin-left: 7px;
}
@media screen and (max-width: 528px) {
	.full-width-xs {
		width: 100%;
		margin: 5px 0;
	}
	.username-proceed a {
		margin-left: 0;
	}
}